::before ::after {
  /*box-sizing: 넓이 폭을 쉽게 해주는 친구 */
  box-sizing: border-box;
}

body {
  max-width: 800px;
  /* margin inline 은 자동으로 적용 */
  margin-inline: auto;
}

h1 {
  text-align: center;
}

h2 {
  margin-block: 10px 10px;
}

h3 {
  margin-block: 0px 10px;
}

.green {
  background-color: green;
}

.container {
  background-color: oklch(90% 0.05 200);
  padding-inline: 20px;
  margin-bottom: 40px;
}

.item {
  border: 2px solid oklch(60% 0.05 30);
  background-color: oklch(90% 0.05 30);
  padding: 10px;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.gtc {
  grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
}

.gtr {
  grid-template-rows: 1fr 2fr 1fr 1fr 1fr;
}

/* 5개의 영역을 100px로 고정시키는 것임 */
.gtc-1fr {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.gtr-1fr {
  /* 5개를 1fr로 지정한다는 뜻 */
  grid-template-rows: repeat(5, 1fr);
}

.gtc-100 {
  grid-template-columns: 100px 100px 100px 100px 100px;
}

.gc-gr {
  grid-column: 2/4;
  grid-row: 3/6;
}

.ga {
  grid-area: 3/2/6/4;
  /* r/c/r/c */
}

*/ .dir {
  flex-direction: column-reverse;
}

.order-1 {
  order: 1;
}
.order-2 {
  order: 2;
}
.order-3 {
  order: 3;
}
.order-4 {
  order: 4;
}
.order-5 {
  order: 5;
}

.wrap {
  flex-wrap: wrap;
}

.ac {
  align-content: center;
}

.h300 {
  height: 300px;
}

.w100 {
  width: 100px;
}

.ai {
  align-items: center;
}

.as-1 {
  align-self: flex-start;
}
.as-2 {
  align-self: center;
}
.as-3 {
  align-self: end;
}
.as-4 {
  align-self: stretch;
}
.as-5 {
  align-self: baseline;
}

.gap {
  gap: 10px;
}

.jc {
  justify-content: space-between;
}

.grow-1 {
  flex-grow: 1;
}
.grow-2 {
  flex-grow: 2;
}
.grow-3 {
  flex-grow: 1;
}
.grow-4 {
  flex-grow: 1;
}
.grow-5 {
  flex-grow: 1;
}

.shrink-1 {
  width: 200px;
  flex-shrink: 1;
}
.shrink-2 {
  width: 200px;
  flex-shrink: 2;
}

.basis-1 {
  flex-basis: 300px;
}
.basis-2 {
  flex-basis: 0;
}

/* item 값 안 준것과 준 것의 차이  */
.ji {
  justify-items: center;
}

.js-s {
  justify-self: start;
}
.js-c {
  justify-self: center;
}
.js-e {
  justify-self: end;
}
.js-str {
  justify-self: stretch;
}

.subgrid {
  grid-area: 3/2/6/4;

  display: grid;

  grid-template-columns: subgrid;

  grid-template-rows: subgrid;
}
