*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .h1.js-c {
    font-size: 64px;
    line-height: 60px;
    margin-bottom: 50px;
  }
}

.flex {
  display: flex;
  /* justify-content: center; */
  gap: 1rem;
}
.div {
}

.container {
}

.between {
  justify-content: space-between;
}

.bg-b {
  display: flex;
  align-items: center;
  padding: 0.4rem 5rem;
  background-color: #000;
  /* justify-content: space-around; */
  justify-content: space-between;
  column-gap: auto;
  z-index: 0;
}

.btn {
  padding: 5px 15px;
  cursor: pointer;
  margin: 2px;
  border-radius: 5px;
}

.btn-1 {
  padding: 5px 15px;
  cursor: pointer;
  margin: 2px;
}

.logo {
  align-self: center;
  max-height: 30px;
  /* margin-right: 1rem; */
}

.nostorke {
  /* border: none; */
  background-color: #000;
  color: #fff;
  min-width: fit-content;
  border: none;
}

.bd {
  border-left: 2px solid #ffffff;
}

.outline {
  border: solid 1px #fff;
  background-color: #000;
  color: #fff;
  min-width: fit-content;
}

.primary {
  border: none;
  background-color: #4c5fd5;
  color: #fff;
  min-width: fit-content;
}

.bg-secondary {
  align-items: center;
  /* display: flex; */
  justify-content: center;
  background-color: #dadbf1;
  padding: 6rem 10rem;
}

.h1 {
  font-size: 80px;
  font-weight: 400;
  text-align: center;
}

.search {
  display: block;
  width: 30rem;
  height: 3rem;
  padding: 1rem;
  margin-inline: auto;
  background-color: #fff;
  border: solid 1px darkgray;
  border-radius: 0.2rem;
  box-shadow: 0 4px 10px rgb(0, 0, 0, 0.3);
}

.image {
  max-width: 4rem;
  max-height: 4rem;
}

.grid {
  display: grid;
  padding: 1rem;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.padding {
  padding: 4rem;
}

.box {
  position: relative;
}

.h4 {
  padding-bottom: 0.5rem;
}

.bold {
  font-weight: 900;
}

.regular {
  font-weight: 300;
  font-size: medium;
  padding-bottom: 0.5rem;
}

.small {
  font-weight: 400;
  font-size: small;
}

.blue {
  color: #4c5fd5;
}

.white {
  color: #fff;
}

/* .grid-2 {
  display: grid;
  gap: 5%;
  grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
  align-items: flex-start;
} */

.grid-row {
  grid-template-rows: 1fr 1fr;
}

.image-2 {
  width: 2rem;
}

.end {
  margin-top: 60px;
}

.box-2 {
}
/* .gap {
  gap: 4rem;
} */
/* .arrow-svg {
  position: absolute;
} */

.grid-bot {
  padding-top: 50px;
  padding-bottom: 100px;
  background-color: #000;
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding-inline: 80px;
}
.grid-left {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
