*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
}
.div {
}

.container {
}

.bg-b {
  display: flex;
  align-items: center;
  padding: 10px 30px;
  background-color: #000;
  justify-content: space-between;
  z-index: 0;
}

.btn {
  padding: 5px 15px;
  cursor: pointer;
  margin: 2px;
  border-radius: 5px;
}

.logo {
  max-height: 30px;
}

.nostorke {
  border: none;
  background-color: #000;
  color: #fff;
}

.lb {
  border-left: #fff;
}

.outline {
  border: solid 1px #fff;
  background-color: #000;
  color: #fff;
}

.primary {
  border: none;
  background-color: #4c5fd5;
  color: #fff;
}

.bg-secondary {
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #dadbf1;
  padding: 6rem 10rem;
}

.h1 {
  font-size: 3.3rem;
  font-weight: 400;
  text-align: center;
}

.research {
  display: block;
  background-color: #fff;
}

/* 왜 안되누
.js-s {
  justify-self: start;
} */

/*왜 안되누 2 .js-e {
  justify-self: flex-end;
}

.js-str {
  justify-self: stretch;
} */
