*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}

header {
  padding: 16px;
  background: #f4f4f4;
  border-bottom: 1px solid #ddd;
}
header h1 {
  margin: 0;
  font-size: 20px;
}

/* 부모박스 격임 */
.container {
  padding: 40px;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.btn {
  padding: 10px 20px;
  font-size: 15px;
  font-weight: 500;
  border: none;
  border-radius: 6px;
  cursor: pointer;

  transition: background 0.2s, box-shadow 0.2s, transform 0.1s;
  color: #fff;
}

.btn.primary {
  background: #007bff;
}

.btn.primary:hover:not(:disabled) {
  color: rgb(134, 238, 207);
  background: #124882;
}
.btn.primary:active:not(:disabled) {
  transform: scale(0.7);
}
.btn.secondary {
  background: #6b6b6b;
}

.btn.secondary:hover:not(:disabled) {
  background: rgb(15, 15, 15);
  color: gray;
}
.btn.outline {
  background: transparent;
  border: 2px solid #2e77c5;
  color: #5dabff;
}
.btn.outline:hover:not(:disabled) {
  background: #007bff;
  color: #5dabff;
}
.btn.danger {
  background: rgb(255, 0, 0);
}
.btn.danger:hover:not(:disabled) {
  background: darkred;
  color: blanchedalmond;
}

.btn:disabled {
  background: white;
  color: gray;
  cursor: not-allowed;
}

.btn.shadow {
  box-shadow: 0 4px 10px rgb(0, 0, 0, 0.5);
}
.btn.shadow:hover:not(:disabled) {
  box-shadow: 0 6px 16px rgb(0, 0, 0, 0.5);
}
.btn.round {
  border-radius: 50px;
  padding: 10px 20px;
}
.btn.gradient {
  background: linear-gradient(135deg, #aaaaaa, #124882);
}
.btn.gradient:hover:not(:disabled) {
  background: linear-gradient(135deg, #007bff, #535353);
}
