*,
::before,
::after {
  margin: 0;
  padding: 0;

  /* 박스 최대 사이즈가 border-box */
  box-sizing: border-box;
}

body {
  background-color: rgb(228, 234, 240);
}

.link {
  margin: 2rem;
}

a:hover {
  font-size: 2rem;
  color: rgb(119, 38, 149);
}

a {
  font-size: 1.8rem;
  color: rgb(155, 135, 235);
  font-weight: 900;
  text-decoration: none;
}

#title {
  margin: 2rem;
  border-bottom: 0.1rem solid black;
}

.image {
  margin: 2rem;
  max-width: 20rem;
  object-fit: cover;
}

.text-title {
  color: darkblue;
  padding: 0.5rem;
  margin: 2rem;
  border-left: 0.2rem solid rgb(60, 41, 204);
}

.text-p {
  /* content: 3rem; */

  padding: 0.5rem;
  margin: 2rem;
}

#name {
  padding-bottom: 1rem;
}

#age {
  padding-bottom: 1rem;
}

#school {
  padding-bottom: 1rem;
}
